<div class="container h-100"> <!-- This div and the one below will do center the card -->
  <div class="row h-100 justify-content-center align-items-center"> 

    <div class="card  signup-card text-center">
      <div class="card-header">
        <h2 class="my-3">Create New Password</h2>
      </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <b><%= f.label t (:password) %></b><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <b><%= f.label t (:password_confirmation) %></b><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <br>
          <div class="form-actions text-center">
            <%= f.submit t(:change_my_password), class: "btn-success_change-password" %>
          </div>
        <% end %>
         <br>
        <br>
        <div class="card-footer text-center mb-2">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>

