<h2 class="message text-center "><%= t (:forgot_password) %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group col-md-12 text-center emailforgotPass">
    <%= f.label :email, :class => "col-sm-5"  %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "col-sm-6 emailforgotinput"%>
  </div>

  <div class="form-group text-center actions mt-3">
    <%= f.submit t(:send_reset_password)%>
  </div>
<% end %>
<div class="forgotBut text-center ">  
	<%= render "devise/shared/links" %>
</div>
