<hr>
<h1>Company</h1>

<% if current_company %>
	<%= link_to "Company Sign Out", destroy_company_session_path, method: :delete %>
<% else %>
	<%= link_to "Company Sign In", new_company_session_path %> |
	<%= link_to "Company Sign Up", new_company_registration_path %>
<% end %>

<hr>
<h1>Sender</h1>

<% if current_sender %>
	<%= link_to "Sender Sign Out", destroy_sender_session_path, method: :delete %>
<% else %>
	<%= link_to "Sender Sign In", new_sender_session_path %> |
	<%= link_to "Sender Sign Up", new_sender_registration_path %>
<% end %>

<hr>
<h1>Transporter</h1>

<% if current_transporter %>
	<%= link_to "Transporter Sign Out", destroy_transporter_session_path, method: :delete %>
<% else %>
	<%= link_to "Transporter Sign In", new_transporter_session_path %> |
	<%= link_to "Transporter Sign Up", new_transporter_registration_path %>
<% end %>