<%= form_with(model: transporter, url: [@user, transporter], local: true) do |form| %>
  <% if transporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transporter.errors.count, "error") %> prohibited this transporter from being saved:</h2>

      <ul>
      <% transporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="card text-center mx-5">
      <div class="card-body transporter-top-card"> 
        <h3 class="h3Space"> Transporter Details </h3> 

        <div class="form-group sender mb-4">  
          <%= form.label :company_id, 'Company: ' %>
          <b><%= @transporter.company.name  %></b>
        </div>

        <div class="form-group col-md-12">     
          <b><%= form.label :name, :class => "col-sm-5 name"%></b>
          <%= form.text_field :name, :class => "col-sm-6 transporter-name" %>
        </div>         
        
        <div class="form-group col-md-12">      
          <b><%= form.label :telephone, :class => "col-sm-5 telephone"%></b>
          <%= form.text_field :telephone, :class => "col-sm-6 transporter-telephone" %>
        </div>

         
        <div class="form-group col-md-12 transporter-status-card">
          <b><%= form.label :status,:class => "col-sm-5 status"%></b>
          <%#= form.text_field :status, :class => " col-sm-6" %>
          <%= form.select :status, Transporter.statuses.keys[0..1].map {|status| [status.titleize,status]}, {}, { :class => "col-sm-6 transporter-status"} %>
        </div>



        <div class="form-group col-md-12">
          <b><%= form.label :email, :class => "col-sm-5 email"%></b>
          <%= form.text_field :email, :class => "col-sm-6 transporter-email" %>
        </div>



       <!--  <div class="form-group col-md-12">
          <%#= form.label :email %><br />
          <%#= form.email_field :email, autofocus: true, autocomplete: "email" %>
        </div> -->

        <div class="form-group col-md-12">
          <%= form.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= form.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="form-group col-md-12">
          <%= form.label :password_confirmation %><br />
          <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>



      </div>
    </div>




<hr> 
<div class="row buttons btn-group " > 
  <%= render 'transporters/actionButtons', form: form %>
</div>
<hr class="mb-5"> 



  <div class="actions">
    <%= form.submit %>
  </div>






  <table class="table table-striped">
    <thead>
    </thead>

    <tbody>
      <tr>
        <th><%= form.label :company_id %></th>
        <td><%= @transporter.company.name %>   <%#= form.label @user.name %>
            <%#= form.hidden_field :transporter_id %></td>
      </tr>

      <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
      </tr>

      <tr>
        <th><%= form.label :telephone %></th>
        <td><%= form.text_field :telephone %></td>
      </tr>

      <tr>
        <th><%= form.label :email %></th>
        <td><%= form.text_field :email %></td>
      </tr>

      <tr>
        <th><%= form.label :status %></th>
        <td><%= form.select :status, Transporter.statuses.keys[0..1].map {|status| [status.titleize,status]} %></td>
      </tr>   

    </tbody>
  </table>



  <% end %>
