<% provide(:page_title, "Transporters") %>


<h1 class="headingspace"><%= @user.present? ? @user.name  : "ALL" %> - Transporters</h1>

<div class="row card indextable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Transporter.human_attribute_name(:name) %></th>
        <th><%= Transporter.human_attribute_name(:telephone) %></th>
        <th><%= Transporter.human_attribute_name(:email) %></th>
        <th><%= Transporter.human_attribute_name(:status) %></th>
        <th><%= Transporter.human_attribute_name(:company) %></th>
        <th> <%= Transporter.human_attribute_name(:total_orders) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transporters.each do |transporter| %>
        <tr>
          <td><%= transporter.name %></td>
          <td><%= transporter.telephone %></td>
          <td><%= transporter.email %></td>
          <td><%= transporter.status %></td>
          <td><%= transporter.company.name %></td>
          <td><%= transporter.orders.size %></td>
          <td><%= link_to url_for([@user, transporter]) do %><span class="fa fa-eye"></span><% end %></td>
          <% if @user.class.name == 'Company' %>
            <td><%= link_to edit_company_transporter_path(@user, transporter) do %><span class="fa fa-edit"></span><% end %></td> 
            <% if transporter.orders.size == 0 %>    
              <td><%= link_to company_transporter_path(@user, transporter), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash"></span><% end %></td>
            <% else %>
               <td></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>