<% provide(:page_title, "Transporter") %>

<h1 class='headingspace'> <%= @transporter.name.titlecase %> <%= t (:profile) %></h1>

<div class="card mb-2 showing-card   ">
  <div class="card-body pl-1"> 
    <div class="col-md-12 mb-2 mt-2">
      <div class="row">
        <div class="d-inline col-sm-6 transporter-Showlabels">
           <b><%= Transporter.human_attribute_name(:name) %></b>
        </div>
        <div class="d-inline col-sm-6 mb-3 transporter-Showinputs">
         <%= @transporter.name.titlecase %>
        </div>
      </div> 

      <div class="row">
        <div class="d-inline col-sm-6 transporter-Showlabels ">
           <b><%= Transporter.human_attribute_name(:telephone) %></b>
        </div>
        <div class="d-inline col-sm-6 mb-3 transporter-Showinputs">
         <%= @transporter.telephone %>
        </div>
      </div>
      <div class="row">
        <div class="d-inline col-sm-6 transporter-Showlabels">
           <b><%= Transporter.human_attribute_name(:email) %></b>
        </div>
        <div class="d-inline col-sm-6 mb-3 transporter-Showinputs">
         <%= @transporter.email  %>
        </div>
      </div>
      <div class="row">
        <div class="d-inline col-sm-6 transporter-Showlabels">
          <b><%= Transporter.human_attribute_name(:status) %></b>
        </div>
        <div class="d-inline col-sm-6 mb-3 transporter-Showinputs">
         <%= enum_l(@user, :status).capitalize %>
        </div>
      </div>
      <div class="row">
        <div class="d-inline col-sm-6 transporter-Showlabels">
          <b><%#= "Radius: "%></b>
        </div>
        <div class="d-inline col-sm-6 mb-3 transporter-Showinputs">
         <%#= @user.radius %>
        </div>
      </div>
    </div>
  </div>
</div> 

<hr> 
<div class="row buttons btn-group " > 
  <div class="d-inline mt-2 mb-2">  
    <%#= link_to 'Back to Company', company_path, :class => "btn btn-primary btn-back" %> 
  </div>
</div>
<hr class="mb-5">

  <br>
  <br>