<td><%= link_to url_for([@user, order]) do %><span class="fa fa-eye"></span><% end %></td>

<% if @user.class.name == "Company" && ['posted','taken', 'inTransit'].include?(order.status) %>          
  <td><%= link_to url_for([:edit, @user, order]) do %><span class="fa fa-edit"></span><% end %></td>
  <td></td> 

<% elsif @user.class.name == "Sender" && order.status == 'draft' %>
  <td><%= link_to url_for([:edit, @user, order]) do %><span class="fa fa-edit"></span><% end %></td>
   <td><%= link_to url_for([@user, order]), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash"></span><% end %></td>

<% elsif @user.class.name == "Sender" && order.status == 'posted'   %>
  <td><%= link_to url_for([@user, order]), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash"></span><% end %></td>

<% elsif @user.class.name == "Transporter" && ['taken', 'inTransit'].include?(order.status) %> 
  <td><%= link_to url_for([:edit, @user, order]) do %><span class="fa fa-edit"></span><% end %></td>
  <td></td> 

<% else %>
  <td></td>
  <td></td>          

<% end %>  