<div class="maps-row">
  <div class="col-md-6 mb-3 mb-md-0">
    <div class="card left text-center z-depth-2"> <!-- mdb-color lighten-2  -->
      <div class="card-body-left">
        <h3 class="card-header">Sender Location</h3>          
        <div class="location_contain">
          <%= render 'location', form: form, id: 0 %>
        </div>
        <br>
        <strong><%= form.label :pickup_time, 'Pickup date/time', :class => "col-sm-2 pickup-time" %></strong>
          <%= form.datetime_select :pickup_time, :class => "col-sm-4" %>      
      </div>
    </div> 
  </div>


  <div class="col-md-6">
    <div class="card right text-center z-depth-2">  <!--  mdb-color lighten-2  -->
      <div class="card-body-right">        
       <h3 class="card-header">Recipient Location</h3>
       <div class="location_contain">
        <%= render 'location', form: form, id: 1 %>
       </div>
       <br>     
       <strong><%= form.label :delivery_time, 'Delivery date/time', :class => "col-sm-2 delivery-time" %></strong>
        <%= form.datetime_select :delivery_time %>
      </div>
    </div>
  </div>
</div>