<!-- SENDER -->
<div class="form-group sender mb-4" id='sender'>  
  <%#= t (:sender) %>
  <b><%= @order.sender.name %></b>
</div>

<!-- DESCRIPTION & MEASUREMENTS -->
<div class="card text-center ">
  <div class="card-body top-card"> 
    <h3 class="h3Space"><%= t (:order_details) %></h3> 

    <div class="form-group col-md-12 order-measurements text-center">     
      <b><%= form.label :description, :class => "col-sm-5 description"%></b>
      <%= form.text_field :description, placeholder: "#{t (:short_description)}", :class => "col-sm-6" %>
    </div>  


    <div class="form-group col-md-12 order-measurements text-center"> 
    <%= form.fields_for :comments, @order.comments.present? ? @order.comments : Comment.new do |f| %>
      <b><%= f.label :content, :class => "col-sm-5 content"%></b>
      <%= f.text_area :content, placeholder: "#{t (:comments_instructions)}", :class => "col-sm-6", :rows => "4", :maxlength => 200 %>
    <% end %>
    </div>

    <div class="row">
      <div class="col-sm-4 colright">
        <div class="card card-radleft">
          <div class="card-body radioLabel">
            <b><%= form.label Order.human_attribute_name(:return)%></b>
          </div>
        </div>
      </div>
      <div class="col-sm-6 colleft">
        <div class="card card-radright">
          <div class="card-body radiobools">
            <%= form.radio_button :return, true, :value => true %><%= t(:this)%> <br/>        
            <%= form.radio_button :return, false, :value => false %><%= t(:no_this)%><br/> 
          </div>
        </div>
      </div>
    </div>

    <div class="hide_information">   
      <div class="form-group col-md-12 order-measurements text-center">      
        <b><%= form.label Order.human_attribute_name(:weight), :class => "col-sm-5 weight"%></b>
        <%= form.text_field :weight, placeholder: "#{t (:aprrox_weight)}", :class => "col-sm-6" %>
      </div>

       <div class="form-group col-md-12 order-measurements text-center">
        <b><%= form.label  Order.human_attribute_name(:length), :class => "col-sm-5 length"%></b>
        <%= form.text_field :length, placeholder: "#{t (:aprrox_length)}", :class => "col-sm-6" %>
      </div>

      <div class="form-group col-md-12 order-measurements text-center">
        <b><%= form.label Order.human_attribute_name(:width), :class => "col-sm-5 width"%></b>
        <%= form.text_field :width, placeholder: "#{t (:approx_width)}", :class => "col-sm-6" %>
      </div>

      <div class="form-group col-md-12 order-measurements text-center">
        <b><%= form.label Order.human_attribute_name(:heigth),:class => "col-sm-6 height"%></b>
        <%= form.text_field :heigth, placeholder: "#{t (:approx_height)}", :class => "col-sm-6" %>
      </div>       
    </div>
  </div>
</div>


<!-- MAPS -->
<div class="maps-row">
  <div class="col-md-6 mb-3 card-left ">
    <div class="card  text-center z-depth-2"> 
      <div class="card-body-left">
        <h3 class="card-header"><%= Order.human_attribute_name(:sending_location)%></h3>          
        <div class="location_contain">
          <%= render 'location', form: form, id: 0 %>
        </div>
        <br>
        <div class="mb-5 time hide_information">  <!-- Time Hiden for Now -->
         <strong><%= form.label Order.human_attribute_name(:pickup_time), :class => "col-sm-12  delivery-label mb-3 mt-5" %></strong>
          <%= form.datetime_select :pickup_time, :class => "col-sm-12"  %>
        </div>
      </div>
    </div> 
  </div>


  <div class="col-md-6 mb-3 card-right">
    <div class="card text-center z-depth-2">  
      <div class="card-body-right">        
      <h3 class="card-header"><%= Order.human_attribute_name(:receiving_location) %></h3>
      <div class="location_contain">
        <%= render 'location', form: form, id: 1 %>
      </div>
      <br>   
      <div class="mb-5 time hide_information">   
        <strong><%= form.label Order.human_attribute_name(:delivery_time), :class => "col-sm-12  delivery-label mb-3 mt-5" %></strong>
        <%= form.datetime_select :delivery_time, :class => "col-sm-12" %>
      </div>
      </div>
    </div>
  </div>
</div>          
  
<!-- RECIPIENT-->
<%= form.fields_for :recipients, @order.recipients[0].present? ? @order.recipients.last : Recipient.new  do |f| %>

  <div class="card recipient text-center recipient-card">
    <div class="card-body">            
      <h3 class="recipient-title">Recipient details</h3>      
        <div class="form-group col-md-12">
          <b><%= f.label t(:recipt_name), :class => "col-sm-5 recipient-name-label" %></b>
          <%= f.text_field :name, :class => "col-sm-6 recipient-name-input", placeholder: "Full name" %>
        </div>
        <div class="form-group col-md-12"> <!-- Probably to change it to 12 or other on md -->
          <b><%= f.label t(:recipt_telephone), :class => "col-sm-5 telephone-label" %></b>
          <%= f.text_field :telephone, :class => "col-sm-6 telephone-input" %>
        </div>
        <div class="form-group col-md-12">
          <b><%= f.label t(:recipt_email), :class => "col-sm-5 email-label" %></b>
          <%= f.text_field :email, :class => "col-sm-6 email-input" %>
        </div>    
    </div>
  </div>
<% end %>


<!-- COST -->  
<div class="card card-cost ">
  <div class="card-body text-center">       
    <div class="form-group col-md-12 text-center">
      <button type="button" class=" btn btn-calcualte-price mb-2 mt-2" ><%= Order.human_attribute_name(:calculate_price) %></button>       
    </div>
    <div class="form-group col-md-12 text-center">
      <b><%= form.label :cost, :class => "col-sm-5 cost-label" %></b>
      <%= form.text_field :cost, :class => "col-sm-6 cost-input", :value => 0%>
    </div>
  </div>
</div>

<!-- PAY WITH -->
<div class="card mb-2 pay-with-card">
  <div class="card-body pl-1">    
    <div class="col-md-12 my-2">  
      <div class="row">
        <div class="d-inline col-sm-6 pay-with-heading bolds"><%= Order.human_attribute_name(:pay_with) %>
        </div>
        <div class="col-sm-6 colleft">
        <div class="card card-radright">
          <div class="card-body radiobools">
            <%= form.radio_button :pay_with, 'cash' , :checked => true %>
            <%= label :pay_with, t(:cash) %> <br/>
            <%= form.radio_button :pay_with, 'card' %>
            <%= label :pay_with, t(:card) %> 
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
    
<!-- Think on how to move this Confirm button to ActionButtons in -->

<!-- SUBMIT BUTTONS -->
<div class="row justify-content-center " > 
  <div class="order-create-update-buttons text-center ">
    <% if @order.status == 'draft' %>
        <div>
          <%= form.hidden_field :status, :value => 'draft' %>
          <%= form.hidden_field :payment_status, :value => 'unpaid' %>
          <%= form.submit   Order.human_attribute_name(:confirm_order), :class => 'btn btn-draft status_buttons' %> <!-- CHANGED FROM 'save_draft'  to 'confirm_order' -->
        </div>
      <!--  <div>
          <%#= form.hidden_field :status, :value => 'payment' %>
          <%#= form.submit  Order.human_attribute_name(:payment), :class => ' btn btn-primary btn-post' %>   , name: 'post' REMOVED FOR TESTIG CREATION OF NEW ORDER 
        </div>   -->

      </div>
    <% else %>
      <div class="actions">
        <%= form.submit :class => "col-sm-3 btn btn-update-button"%>
      </div>
    <% end %>
</div>
