<!-- Titles for Orders Indexes depending on user -->

<%if @user.class.name == 'Sender' && current_page?(controller: 'orders', action: 'posted') %>    
  <h1 class='headingspace'><%= @user.name %><%= t (:posted_orders) %> </h1> 
<% elsif @user.class.name == 'Sender' && current_page?(controller: 'orders', action: 'index') %>  
 <h1 class='headingspace'><%= t (:total) %> (<%= @user.orders.size %>) <%= t (:orders)%></h1>
<% end %>

<% if @user.class.name == 'Company' && current_page?(controller: 'orders', action: 'posts')%> 
  <h1 class='headingspace'><%= t (:available_orders) %></h1>
<% elsif @user.class.name == 'Company' && current_page?(controller: 'orders', action: 'index') %>  
  <h1 class='headingspace'><%= t (:total) %> (<%= @user.orders.size %>) <%= t (:orders)%></h1>

  <!-- <h2 class='headingspace'><%#= t (:total_earning) %> (<%= @user.orders.size %>) <%#= t (:orders)%></h2> -->
<% elsif @user.class.name == 'Company' && @transporter.present? %>
  <h1 class='headingspace'> <%= @transporter.name %> <%= t (:has)%> (<%= @transporter.orders.size %>) <%= t (:orders)%></h1>
<% end %>

<% if @user.class.name == 'Transporter' %> 
  <h1 class='headingspace'><%= t (:total) %> (<%= @user.orders.size %>) <%= t (:orders)%></h1>
<% end %>

