
<table class="table table-striped table-hover mb-5">
  <thead>
    <tr class="tableHeadingbar"> 
      <th class="text-center"><%= Order.human_attribute_name(:order_id) %></th>
      <% if  current_admin %> 
        
        <th><%= Order.human_attribute_name(:sender_id) %></th> 
        <th><%= Order.human_attribute_name(:company_id) %></th>
        <th><%= Order.human_attribute_name(:transporter) %></th>

       <% elsif @user.class.name == "Sender" %>

        <th><%= Order.human_attribute_name(:company) %></th>
        <th><%= Order.human_attribute_name(:transporter_id) %></th>

      <% elsif ['Company', 'Transporter'].include? @user.class.name %>

        <th><%= Order.human_attribute_name(:sender_id) %></th> 

      <% end %>

        <th><%= Order.human_attribute_name(:status) %></th>
        <th><%= Order.human_attribute_name(:description) %></th>

      <% if current_admin %>       
        <th><%= Order.human_attribute_name(:weight) %></th>
        <th><%= Order.human_attribute_name(:length) %></th>
        <th><%= Order.human_attribute_name(:widht) %></th>
        <th><%= Order.human_attribute_name(:height) %></th>
        <th><%= Order.human_attribute_name(:pickup_address) %></th>
        <th>PickUp Coordinates</th>
        <th><%= Order.human_attribute_name(:pickup_time) %></th>
        <th><%= Order.human_attribute_name(:delivery_address) %></th>
        <th>Delivery Coordinates</th>
        <th><%= Order.human_attribute_name(:pdelivery_time) %></th>             
        <th><%= Order.human_attribute_name(:radius) %></th>         
      <% end %>
<!-- <th>Distance to Order</th>-->
        <th><%= Order.human_attribute_name(:cost) %></th> 

      
      <% if ['Company', 'Transporter', 'Admin'].include? @user.class.name %>
        <th><%= t (:distance_to_order) %></th>
        <th><%= Order.human_attribute_name(:total_distance) %> 
      <% end %>
      <th><%= Order.human_attribute_name(:payment_method) %></th>
      <th><%= Order.human_attribute_name(:payment_status) %></th>
      
      <!--<th><%#= Order.human_attribute_name(:card) %></th> -->
      <% if ['Company', 'Transporter', 'Admin'].include? @user.class.name %>
        <th><%= Order.human_attribute_name(:earning) %></th>
      <% end %>
      
      <th colspan="3"></th>
     
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="odd tableValues">
        <td class="text-center"><%= order.id %>
        <% if  current_admin %> 

          <td><%= order.sender.name %></td>
          <td><%= order.transporter.present? ? order.transporter.company.name : "No Added yet" %></td>
          <td><%= order.transporter.present? ? order.transporter.name : "No Added yet" %></td>

        <% elsif @user.class.name == "Sender" %>
          <td><%= order.transporter.present? ? order.transporter.company.name : "" %></td>
          <td><%= order.transporter.present? ? order.transporter.name : "" %></td>
        <% elsif @user.class.name == "Company" ||  @user.class.name == "Transporter"%>
          <td><%= order.sender.name %></td>
        <% end %>
          <td><%= order.status.present? ? enum_l(order, :status).capitalize : "-"  %></td>
          <td><%= order.description %></td>
        <% if  current_admin %>    
          <td><%= order.weight %></td>
          <td><%= order.length %></td>
          <td><%= order.width %></td>
          <td><%= order.heigth %></td>
          <td><%= address(order,0) %></td>
          <td><%= coordinates(order,0) %></td> 
          <td><%= order.pickup_time %></td>
          <td><%= address(order,1) %></td>
          <td><%= coordinates(order,1).to_dms rescue log_error($!, $@) %></td>
          <td><%= order.delivery_time %></td>
          <td><%= number_with_delimiter(order.radius) %></td>
        <% end %>
          
          <td><%= number_with_delimiter(order.cost.to_i) %></td>

       <!-- <td><%= number_with_delimiter(order.radius) %></td> -->
        <% if ['Company', 'Transporter'].include? @user.class.name %>
          <%= render 'orders/distance', order: order %>
        <% end %>
        <% if ['Company', 'Transporter', 'Admin'].include? @user.class.name %>
          <%= render 'orders/distance_between_order_points', order: order %>
        <% end %>


<!-- Find the way to translate the values below -->
        <% if order.charge.present? %>
          <td><%= order.charge.present? ? order.charge.payment_method.capitalize : "" %></td>
          <td><%= order.charge.present?  ? order.charge.status.capitalize : "" %></td>        
          <td><%= order.charge.present?  ? enum_l(order.charge, :status) : "" %></td>

        <% elsif order.pay_with.present? %> 
          <td><%= order.pay_with.present? ? order.pay_with.capitalize : "" %></td>
          <%# if order.payment_status.present? %>
            <td><%= order.payment_status.present? ? enum_l(order, :payment_status) : ""  %></td>
          <%# end %> 

        <% end %>



        <!-- <td><%#= order.charge.present? ? order.charge.x_franchise : "" %></td> -->
        <% if (['Company', 'Transporter', 'Admin'].include? @user.class.name) && (order.status =='completed') %>
          <%= render 'orders/users_earnings_index', order: order %>
        <% else %>
          <td><%= "" %></td>
        <% end %>
        <%= render 'orders/indexActions', order: order %>
      </tr>
    <% end %>        
  </tbody>
</table>

