<!-- COMPANY & TRANSPORTER  -->  <!-- This will be added only when Transporter & Company have been added -->
<% if @user.class.name == "Company"  %> 
  <% if @order.status == 'posted' && current_page?(controller: 'orders', action: 'edit') %> 
    <%= form_with(model: @order, url: [@user, @order], local: true) do |form| %>
      <div class="card mb-3">
        <div class="card-body text-center top-card"> 
          <div class="form-group company"> 
            <th><%= form.label :company_id %></th> 
            <td><%=  @user.name.upcase %></td>
          </div>
          <div class="form-group company">  
            <tr>
              <th><%= form.label :transporter_id %></th>
              <% if @user.class.name == "Company" && ['completed','cancelled'].include?(@order.status) %>
              <td><%= @order.transporter.name %></td>
              <% elsif @user.class.name == "Company"  && @order.status == ('posted') %>
              <td><%= form.collection_select :transporter_id, @user.transporters,
              :id, :name, include_blank: false %></td>
              <% else %>
              <td><%= @order.transporter.name %></td>
              <% end %>
            </tr>
          </div>
        </div>
      </div>

      <div class="col-lg-10 col-sm-10 editor">    
        <%= form_with(model: @order, url: [@user, @order], local: true) do |form| %>
          <%= form.hidden_field :status, :value => 'taken' %>
          <%= form.submit  'Take Order', :class => 'col-sm-2 btn btn-primary btn-taken', name: 'take' %>
        <% end %>
      </div> 
    <% end %>
  <% end %>
<% end %>



<% if @order.transporter.present? %>
  <div class="row mb-3">
    <div class="col-md-12 mb-3 ">     
      <div class="card text-center mb-3">        
        <div class="card-block mt-3 ">
          <div class="row order-measurements mb-3"> 
            <div class="col-md-2">
               <p class='fontsize bolds'><%= "Company: "%></p><!-- add class show-order-company -->             
            </div>
            <div class="col-md-3">
              <p class='fontsize'><%= @order.transporter.company.name %></p>
            </div>
            <div class="col-md-2 ">
               <p class='fontsize bolds'><%= "Transporter: "%></p> <!-- add class show-order-transporter -->             
            </div>
            <div class="col-md-3 mb-3">
              <p class='fontsize'><%= @order.transporter.name %></p>
            </div>  
          </div>  
        </div>
      </div>
    </div>
  </div>
<% else %> 
  <div class="card mb-3 p-3 messageTransComp"> 
    <%= "No Company and Transporter added yet!" %>
  </div>   
<% end %> 


<!-- ORDER REF, STATUS & DESCRIPTION -->
<div class="row">
  <div class="col-md-6 mb-3 mb-md-0">
    <div class="card mb-3">       
      <div class="card-block mt-3 ml-5">
        <div class="row">
          <div class="col-md-4 ">
             <p class='fontsize bolds'><%= "Order Reference: "%></p>
          </div>
          <div class="col-md-8 mb-3">
            <p class='fontsize'><%= @order.id %></p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
             <p class='fontsize bolds'><%= "Status: "%></p>
          </div>
          <div class="col-md-8 fontsize">
            <p class='fontsize'><%= @order.status.present? ? @order.status.capitalize : "-"  %></p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4 ">
               <p class='fontsize bolds'><%= "Description: "%></p>
            </div>
            <div class="col-md-8 fontsize">
              <p class='fontsize'><%= @order.description %></p>
            </div> 
          </div>
        </div>
    </div>   
  </div>
</div>


<!-- SENDER & RECIPIENT DETAILS -->
<div class="row ">
  <div class="col-md-6 mb-3 mb-md-0">     
    <div class="card">        
      <div class="card-block mt-3 ml-5">
        <div class="row mb-3">
          <div class="col-md-4 ">
             <p class='fontsize bolds'><%= "Sender: "%></p>
          </div>
          <div class="col-md-8 mb-4">
            <p class='fontsize'><%= @order.sender.name %></p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
             <p class='fontsize bolds'><%= "Telephone: "%></p>
          </div>
          <div class="col-md-8 fontsize">
            <p class='fontsize'><%= @order.sender.telephone %></p>
          </div>
        </div>
      </div>
    </div>   
  </div> 
  <% if @order.recipients.present? %> <!-- ANTONIO!!! REMOVED THIS (IF) WHEN SEEDS ARE REMOVED -->
    <div class="col-md-6 mb-3 mb-md-0">  
      <div class="card">        
        <div class="card-block mt-3 ml-5">
          <div class="row mb-3">         
            <div class="col-md-4 ">
               <p class='fontsize bolds'><%= "Recipient: "%></p>
            </div>
            <div class="col-md-8 mb-4">
              <p class='fontsize'><%= @order.recipients.last.name %></p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
               <p class='fontsize bolds'><%= "Telephone: "%></p>
            </div>
            <div class="col-md-8 fontsize">
              <p class='fontsize'><%= @order.recipients.first.telephone %></p>
            </div>
          </div>                
        </div>
      </div>   
    </div>
  <% end %>
</div>    


<!-- MAPS -->
<div class="col-md-12 mt-3 mb-5"> 
  <div class="row fontsize">  
    <div class="col-md-6 mb-3">
      <div class="card left text-center">
        <div class="card-body-left">
          <h3 class="card-header">Sending Location</h3>          
          <div class="mb-5">
           <p class='fontsize'><%= @order.locations[0].address %></p>
          </div>                  
            <br>
            <div class="row mb-3 text-center show-times mb-4">
              <div class="col-md-4 ">
                 <p class='fontsize bolds'><%= "Pickup Time: "%></p>
              </div>
              <div class="col-md-8 mb-4">
                <p class='fontsize'><%= @order.pickup_time %></p>
              </div>
            </div>
          </div> 
      </div>
    </div>

    <% if @order.recipients.present? %> <!-- ANTONIO!!! REMOVED THIS (IF) WHEN SEEDS ARE REMOVED -->
      <div class="col-md-6 mb-3">
          <div class="card right text-center"> <!-- mdb-color lighten-2  -->
            <div class="card-body-right ">
              <h3 class="card-header">Recipient Location</h3>          
              <div class="mb-5">
                <p class='fontsize'><%= @order.locations[1].address %></p>
              </div>  
              <br>
              <div class="row mb-3 text-center show-times mb-4">
                <div class="col-md-4">
                   <p class='fontsize bolds'><%= "Delivery Time: "%></p>
                </div>
                <div class="col-md-8 mb-4">
                  <p class='fontsize'><%= @order.delivery_time %></p>
                </div>
              </div>
            </div> 
          </div>
        </div>
      <% end %>
    </div>  
</div>


<div class="col-md-6 mx-auto">  
  <div class="card mx-auto mb-5 map-no-border"> 
    <div  id="MapRow">
      <%= plane_icon = {:name => 'plane',
        :icon_url => asset_path('plane.png'),
        :icon_size => [20, 20],
        :icon_anchor => [20, 40],
        :popup_anchor => [0, -40]}

        target_icon = {:name => 'target',
        :icon_url => asset_path('target.png'),
        :icon_size => [20, 20],
        :icon_anchor => [20, 40],
        :popup_anchor => [0, -40]}
      
         markers = [{:latlng => coordinates(@order, 0),
           :popup => "Sending Location <br><b>#{address(@order,0)}</b>",
          :icon => plane_icon}]

         markers << { :latlng => coordinates(@order, 1),
           :popup => "Reciving Location <br><b>#{address(@order,1)}</b>",
          :icon => target_icon
         }


      latlng = coordinates(@order, 0)
      map(
          :center => {
            :latlng => latlng,
            :zoom => 13
          },
          :markers => markers                      
      )
      %>
    </div>  
  </div>
</div>

<% if @user.class.name == 'Sender' && current_page?(controller: 'orders', action: 'show')  %> 
<!-- COMPANY & TRANSPORTER  -->  <!-- This will be added only when Transporter & Company have been added -->
  <% if @order.transporter.present? %>
    <div class="row mb-3">
      <div class="col-md-12 mb-3 ">     
        <div class="card text-center mb-3">        
          <div class="card-block mt-3 ">
            <div class="row order-measurements mb-3"> 
              <div class="col-md-2">
                 <p class='fontsize bolds'><%= "Company: "%></p><!-- add class show-order-company -->             
              </div>
              <div class="col-md-3">
                <p class='fontsize'><%= @order.transporter.company.name %></p>
              </div>
              <div class="col-md-2 ">
                 <p class='fontsize bolds'><%= "Transporter: "%></p> <!-- add class show-order-transporter -->             
              </div>
              <div class="col-md-3 mb-3">
                <p class='fontsize'><%= @order.transporter.name %></p>
              </div>  
            </div>  
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- ORDER MEASUREMENTS -->
<div class="row mb-3">
  <div class="col-md-12 mb-3 ">     
    <div class="card text-center mb-3">        
      <div class="card-block mt-3 ">
        <div class="row order-measurements mb-3">              
          <div class="col-md-2">
             <p class='fontsize bolds'><%= "Weight: "%></p>
          </div>
          <div class="col-md-3">
            <p class='fontsize'><%= @order.weight %></p>
          </div>
          <div class="col-md-2 ">
             <p class='fontsize bolds'><%= "Length: "%></p>
          </div>
          <div class="col-md-3 mb-3">
            <p class='fontsize'><%= @order.length%></p>
          </div>  
        </div>   

        <div class="row order-measurements mb-3">               
          <div class="col-md-2 ">
             <p class='fontsize bolds'><%= "Width: "%></p>
          </div>
          <div class="col-md-3">
            <p class='fontsize'><%= @order.width  %></p>
          </div>
          <div class="col-md-2 ">
             <p class='fontsize bolds'><%= "Heigth: "%></p>
          </div>
          <div class="col-md-3 mb-3">
            <p class='fontsize'><%= @order.heigth  %></p>
          </div>
        </div>        
      </div>
    </div>   
  </div> 
</div> 

<!-- COST -->
<div class="col-md-4 mb-3 mb-md-0 mx-auto">  
  <div class="card mx-auto">        
    <div class="card-block mt-3 ml-5">
      <div class="row ">
        <div class="col-md-3 ">
           <p class='fontsize bolds'><%= "Cost: "%></p>
        </div>
        <div class="col-md-4 mb-4">
          <p class='fontsize'><%= @order.cost %></p>
        </div>
      </div>
    </div>
  </div>
</div>