    <tr>
      <th>Description</th>
      <td><%= order.description %></td>
    </tr>

    <tr>
      <th>Weight</th>
      <td><%= order.weight %></td>
    </tr>

    <tr>
      <th>Length</th>
      <td><%= order.length %></td>
    </tr>

    <tr>
      <th>Width</th>
      <td><%= order.width %></td>
    </tr>

    <tr>
      <th>Heigth</th>
      <td><%= order.heigth %></td>
    </tr>

    <tr>
      <th>Pickup Address</th>
      <td><%= order.locations[0].address %></td>
    </tr>

    <tr>
      <th>Pickup Coordinates</th>
      <td><%#= [order.locations[0].latitude, order.locations[0].longitude].to_dms %></td>
    </tr>

    <tr>
      <th>Pickup Time</th>
      <td><%= order.pickup_time %></td>
    </tr>

    <tr>
      <th>Delivery Address</th>
      <td><%= order.locations[1].address %></td>
    </tr>

    <tr>
      <th>Delivery Coordinates</th>
      <td><%#= [order.locations[1].latitude, order.locations[1].longitude].to_dms %></td>
    </tr>

    <tr>
      <th>Delivery Time</th>
      <td><%= order.delivery_time %></td>
    </tr>

    <tr>
      <th>Cost</th>
      <td><%= number_with_delimiter(order.cost.to_i) %></td>
    </tr>

    <tr>
      <th>Radius</th>
      <td><%= number_with_delimiter(order.radius) %></td>
    </tr>
