<!-- ORDER REF, STATUS & DESCRIPTION -->
<div class="card mb-2  ">
  <div class="card-body pl-1"> 
    <div class="col-md-12 mb-2 mt-2">
      <div class="row">
        <div class="d-inline col-sm-6 order-headings bolds ">
           <%= Order.human_attribute_name(:order_id) %>
        </div>
        <div class="d-inline col-sm-6  mb-3 order-values">
         <%= @order.id %>
        </div>
      </div>    

      <div class="row">
        <div class="d-inline col-sm-6 order-headings bolds "><%= Order.human_attribute_name(:status) %>
        </div>
        <div class="d-inline col-sm-6 mb-3 order-values"><%= enum_l(@order, :status) %>
        </div>
      </div>

      <div class="row"> 
        <div class="d-inline col-sm-6 order-headings bolds ">
          <%= Order.human_attribute_name(:description) %>
        </div>
        <div class="d-inline col-sm-6 mb-3 order-values"><%= @order.description %>
        </div> 
      </div>
    </div>
  </div>
</div>  <!-- SCSS TICKED -->




<!-- COMPANY & TRANSPORTER  -->  
<!-- This will be shown only when Transporter & Company need or have been added -->
<% if @user.class.name == "Company"  %> 
  <% if @order.status == 'posted' && current_page?(controller: 'orders', action: 'edit') %> 
    <%= form_with(model: @order, url: [@user, @order], local: true) do |form| %>
      <div class="card mb-3">
        <div class="card-body text-center transporterCompanyAdd-card"> 
          <div class="form-group col-md-12">      
            <div class="d-inline col-sm-6 company-headings bolds">
               <%#= Order.human_attribute_name(:company) %>
            </div>
            <div class="d-inline col-sm-6 mb-3 company-values">
             <%= @user.name.upcase  %>
            </div>
          </div>

          <div class="form-group col-md-12"> 
            <div class="d-inline col-sm-6 transporter-headings bolds">
               <%= "Transporter: "%>
            </div> 
            <% if @user.class.name == "Company" && ['completed','cancelled'].include?(@order.status) %>
              <div class="d-inline col-sm-6 mb-3 transporter-values">
               <%= @order.transporter.name %>
              </div>
            <% elsif @user.class.name == "Company"  && @order.status == ('posted') %>
             <div class="d-inline col-sm-6 mb-3 transporter-values">
              <%= form.collection_select :transporter_id, @user.transporters, :id, :name, include_blank: false, :class => "d-inline col-sm-6 mb-3 transporter-values" %>
            </div>
            <% else %>
              <div class="d-inline col-sm-6 mb-3 transporter-values">
                <%= @order.transporter.name %>
              </div> 
            <% end %>           
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-10 editor">    
        <%= form_with(model: @order, url: [@user, @order], local: true) do |form| %>
          <%= form.hidden_field :status, :value => 'taken' %>
          <%= form.submit  Order.human_attribute_name(:take_order), :class => 'col-sm-2 btn btn-primary btn-taken mb-3', name: 'take' %>
        <% end %>
      </div> 
    <% end %>
  <% end %>
<% end %>


<% if @user.class.name == "Company" &&  current_page?(controller: 'orders', action: 'show')%> 
  <% if @order.transporter.present? %>
    <%= render 'orders/compa-transporter', order: @order %>
  <% else %> 
    <div class="card mb-3 p-3 messageTransComp text-center"> 
      <%= t ".no_company_added" %>
    </div>  <!-- SCSS TICKED --> 
  <% end %>
<% end %>

<% if @user.class.name == "Company" &&  current_page?(controller: 'orders', action: 'edit')%> 
  <% if @order.transporter.present? %>
    <%= render 'orders/compa-transporter', order: @order %>
  <% end %>
<% end %>

<!-- SENDER & RECIPIENT DETAILS -->
<div class="card mb-2  ">
  <div class="card-body pl-1"> 
    <div class="col-md-12 mb-2 mt-2">
      <div class="row">
        <div class="d-inline col-sm-6 sender-headings bolds">
          <%= Order.human_attribute_name(:sender_id) %> 
        </div>
        <div class="d-inline col-sm-6 mb-3 sender-values">
          <%= @order.sender.name %>
        </div>
      </div> 

      <div class="row">
        <div class="d-inline col-sm-6 sender-headings bolds ">
          <%= Order.human_attribute_name(:telephone) %> 
        </div>
        <div class="d-inline col-sm-6 mb-3 sender-values">
          <%= @order.sender.telephone %>
        </div>
      </div> 
    </div>
  </div>
</div>   <!-- SCSS TICKED -->

<% if @user.class.name == "Sender" &&  current_page?(controller: 'orders', action: 'show')%> 
  <% if @order.transporter.present? %>
    <%= render 'orders/compa-transporter', order: @order %>
  <% end %>
<% end %>

  <%# if @order.recipients.present? %> <!-- ANTONIO!!! REMOVED THIS (IF) WHEN SEEDS ARE REMOVED -->
  <div class="card mb-2  ">
    <div class="card-body pl-1"> 
      <div class="col-md-12 mb-2 mt-2">
        <div class="row">
          <div class="d-inline col-sm-6 sender-headings bolds"><%= Order.human_attribute_name(:recipient)%>
          </div>
          <div class="d-inline col-sm-6 mb-3 recipient-values">
            <%= @order.recipients.last.name %>
          </div>
        </div>
        <div class="row">
          <div class="d-inline col-sm-6 sender-headings bolds ">
            <%= Order.human_attribute_name(:telephone) %>
          </div>
          <div class="d-inline col-sm-6 mb-3 sender-values">
            <%= @order.recipients.first.telephone %>
          </div>
        </div>                
      </div>
    </div>   
  </div>
  
<%# end %>
  
<!-- MAPS -->
 <div class="maps-row">
    <div class="col-md-6 mb-3 sendLocation">
      <div class="card left text-center">
        <div class="card-body-left">
          <h3 class="card-header"><%= Order.human_attribute_name(:sending_location)%></h3>
           <div class="bolds ">
            <%= Order.human_attribute_name(:address) %>
          </div>          
          <div class="mb-3 showAddress"><%= @order.locations[0].address %>
          </div>                  
            <br>
            <div class="row mb-3 text-center pickdeli-times mb-4">
              <div class="d-inline col-md-5 bolds pick-label"><%= Order.human_attribute_name(:pickup_time) %>
              </div>
              <div class="d-inline col-md-6 pick-time mb-4"><%= @order.pickup_time.strftime('%d %b %Y  %H:%M') %> 
              </div>
            </div>
          </div> 
      </div>
    </div>

    <% if @order.recipients.present? %> <!-- ANTONIO!!! REMOVED THIS (IF) WHEN SEEDS ARE REMOVED -->
      <div class="col-md-6 mb-3 recipientLocation">
          <div class="card right text-center"> <!-- mdb-color lighten-2  -->
            <div class="card-body-right ">
              <h3 class="card-header"><%= Order.human_attribute_name(:reciving_location) %></h3> 
              <div class="bolds ">
                <%= Order.human_attribute_name(:address) %>
              </div>           
              <div class="mb-3 showAddress"><%= @order.locations[1].address %>
              </div>  
              <br>
              <div class="row mb-3 text-center pickdeli-times mb-4">
                <div class="d-inline col-md-6 bolds deliver-label"><%= Order.human_attribute_name(:delivery_time) %>
                </div>
                <div class="d-inline col-md-6 deliver-time mb-4"><%= @order.delivery_time.strftime('%d %b %Y  %H:%M') %>
                </div>
              </div>
            </div> 
          </div>
        </div>
      <% end %>
    </div>
</div>


<div class="map-row">  
<div class="col-md-12 card-show-map mb-3 ">  
   <div  id="MapRow2">
      <%= plane_icon = {:name => 'plane',
        :icon_url => asset_path('plane.png'),
        :icon_size => [20, 20],
        :icon_anchor => [20, 40],
        :popup_anchor => [0, -40]}

        target_icon = {:name => 'target',
        :icon_url => asset_path('target.png'),
        :icon_size => [20, 20],
        :icon_anchor => [20, 40],
        :popup_anchor => [0, -40]}
      
         markers = [{:latlng => coordinates(@order, 0),
           :popup => "Sending Location <br><b>#{address(@order,0)}</b>",
          :icon => plane_icon}]

         markers << { :latlng => coordinates(@order, 1),
           :popup => "Reciving Location <br><b>#{address(@order,1)}</b>",
          :icon => target_icon
         }


      latlng = coordinates(@order, 0)
      map(
          :center => {
            :latlng => latlng,
            :zoom => 13
          },
          :markers => markers                      
      )
      %>
     
  </div>
 </div>
</div>


<!-- ORDER MEASUREMENTS -->
<div class="card mb-2  ">
  <div class="card-body"> 
    <div class="col-md-12 mb-2 mt-2">
    <h3 class="recipient-title text-center"><%= Order.human_attribute_name(:measurement_details)%></h3>
    <div class="row">
      <div class="d-inline col-sm-6 measurements-headings bolds"><%=
        Order.human_attribute_name(:weight) %>
      </div>
      <div class="d-inline col-sm-6 mb-3 measurements-values">
        <%= @order.weight%>
      </div>
    </div>
    <div class="row">
      <div class="d-inline col-sm-6 measurements-headings bolds">
        <%= Order.human_attribute_name(:length) %>
      </div>
      <div class="d-inline col-sm-6 mb-3 measurements-values">
        <%=  @order.length %>
      </div>
    </div>
    <div class="row">
      <div class="d-inline col-sm-6 measurements-headings bolds">
        <%= Order.human_attribute_name(:width) %>
      </div>
      <div class="d-inline col-sm-6 mb-3 measurements-values">
        <%= @order.width %>
      </div>
    </div>
    <div class="row">
      <div class="d-inline col-sm-6 measurements-headings bolds">
        <%= Order.human_attribute_name(:heigth) %>
      </div>
      <div class="d-inline col-sm-6 mb-3 measurements-values">
        <%= @order.heigth %>
      </div>
    </div>
  </div>        
</div>
 </div>  

<!-- COST -->

<div class="row mb-3">
  <div class="col-md-12 mb-3 ">     
    <div class="card mb-3">        
      <div class="card-block mt-3 ">
        <div class="row">
          <div class="d-inline col-sm-6 cost-heading bolds"><%= Order.human_attribute_name(:cost) %>
          </div>
          <div class="d-inline col-sm-6 mb-3 cost-values">            
            <%= @order.cost  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- RADIUS -->
<% if current_admin %>
  <div class="row mb-3">
    <div class="col-md-12 mb-3 ">     
      <div class="card mb-3">        
        <div class="card-block mt-3 ">
          <div class="row">
            <div class="d-inline col-sm-6 cost-heading bolds"><%= Order.human_attribute_name(:radius) %>
            </div>
            <div class="d-inline col-sm-6 mb-3 cost-values">
              <%= @order.radius %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


