<% id = local_assigns[:id] %>
<%= form.fields_for :locations, @order.locations[id].present? ? @order.locations[id] : Location.new  do |f| %> 
  
  <div class="form-group">
   
    <input type="checkbox" name="AddsAddress<%=id%>" id="AddRegisteredAddress" > Use my registered address <br>
    <br>
    <%= f.text_field :address, placeholder: "#{t (:enter_address)}", id: "address#{id}", :class => "col-sm-12 address" %>

<!-- Adds User's address if checkbox:checked -->         
    <script>
      $('input[name=AddsAddress<%=id%>]').change(function(){
        if($(this).is(':checked')) {
          document.getElementById("address<%=id%>").value =  "<%= @user.locations[0].address %>"

          var lat<%=id%> = "<%= @user.locations[0].latitude %>"
          var lng<%=id%> = "<%= @user.locations[0].longitude %>"

          document.getElementById("latitude<%=id%>").value =  lat<%=id%>
          document.getElementById("longitude<%=id%>").value =  lng<%=id%>
          map<%=id%>.setView([lat<%=id%>,lng<%=id%>])

        } else {
          document.getElementById("address<%=id%>").value =  ""
          lat<%=id%> = 0
          lng<%=id%> = 0
          document.getElementById("latitude<%=id%>").value = lat<%=id%>
          document.getElementById("longitude<%=id%>").value =  lng<%=id%>
          map<%=id%>.setView([lat<%=id%>,lng<%=id%>])         
        }
      })
      
    </script>

<!-- Adds User address if checnbos:checked --> 


    <%= link_to t(:search_address), {action: 'geocode', controller: 'locations', map_id: id}, remote: true, :class => "col-sm-6 btn btn-primary btn-address-search mb-5" %>  
  </div> 

  <div id="MapRow">
    <div class="mx-auto" id="map<%=id%>">
    </div>   
    <%= f.hidden_field :latitude, id: "latitude#{id}" %>
    <%= f.hidden_field :longitude, id: "longitude#{id}" %>
  </div>

  <script>
    //<![CDATA[
      var map<%=id%> = L.map('map<%=id%>');
      var marker<%=id%> = L.marker([0,0]).addTo(map<%=id%>);
      lat<%=id%> = '#latitude<%=id%>';
      lng<%=id%> = '#longitude<%=id%>';
      lgnd<%=id%> = '#legend<%=id%>';

      $(iniMap(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>, lgnd<%=id%>));
      $(getNavCoordinates(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>));
      map<%=id%>.on('move', function(){ getCenter(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>, lgnd<%=id%>) });
    //]]>
  </script>
  
<% end %>
