<% id = local_assigns[:id] %>
<%= form.fields_for :locations, @order.locations[id].present? ? @order.locations[id] : Location.new  do |f| %> 
  
  <div class="form-group">
    <%= f.text_field :address, placeholder: "Enter Address", id: "address#{id}", :class => "col-sm-12 address" %>
    <%= link_to 'Search Address', {action: 'geocode', controller: 'locations', map_id: id}, remote: true, :class => "col-sm-6 btn btn-primary btn-addres-search mb-5" %>
  </div> 

  <div id="MapRow">
    <div class="mx-auto" id="map<%=id%>">
    </div>   
    <%= f.hidden_field :latitude, id: "latitude#{id}" %>
    <%= f.hidden_field :longitude, id: "longitude#{id}" %>
  </div>

  <script>
    //<![CDATA[
      var map<%=id%> = L.map('map<%=id%>');
      var marker<%=id%> = L.marker([0,0]).addTo(map<%=id%>);
      lat<%=id%> = '#latitude<%=id%>';
      lng<%=id%> = '#longitude<%=id%>';
      lgnd<%=id%> = '#legend<%=id%>';

      $(iniMap(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>, lgnd<%=id%>));
      $(getNavCoordinates(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>));
      map<%=id%>.on('move', function(){ getCenter(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>, lgnd<%=id%>) });
    //]]>
  </script>
  
<% end %>
