<% if current_admin %>
  <td class='earn'><%= order.admin_earning.present? ? order.admin_earning : "" %></td>
  <td class='earn'><%= order.company_earning.present? ? order.company_earning : ""  %></td>
  <td class='earn'><%= order.transporter_earning.present? ? order.transporter_earning : ""  %></td>
<% elsif  current_company %>
  <td class='earn'><%= order.company_earning.present? ? order.company_earning : 0 %></td>
<% elsif  current_transporter %>
  <td class='earn'><%= order.transporter_earning.present? ? order.transporter_earning : 0 %></td> 
<% end %>
