<% if  current_admin %>
  <div class="d-inline col-sm-6 admin-earning-heading bolds"><%= Order.human_attribute_name(:admin_earning) %>
  </div>        
  <div class="d-inline col-sm-6 admin-earning-show-values" > 
    <%= @order.admin_earning %>  <!-- @user.class.name   -->
  </div>

  <div class="d-inline col-sm-6 company-earning-heading bolds"><%= Order.human_attribute_name(:company_earning) %>
  </div>        
  <div class="d-inline col-sm-6 company-earning-show-values" > 
    <%= @order.company_earning %> 
  </div>
  <div class="d-inline col-sm-6 transporter-earning-heading bolds"><%= Order.human_attribute_name(:transporter_earning) %>
  </div>        
  <div class="d-inline col-sm-6 transporter-earning-show-values" > 
    <%= @order.transporter_earning %> 
  </div>
<% elsif  current_company %>
  <div class="d-inline col-sm-6 company-earning-heading bolds"><%= Order.human_attribute_name(:company_earning) %>
  </div>        
  <div class="d-inline col-sm-6 company-earning-show-values" > 
    <%= @order.company_earning %> 
  </div>
<% else  current_transporter %> <!-- @user.class.name == "Transporter"  -->
  <div class="d-inline col-sm-6 transporter-earning-heading bolds"><%= Order.human_attribute_name(:transporter_earning) %>
  </div>        
  <div class="d-inline col-sm-6 transporter-earning-show-values" > 
    <%= @order.transporter_earning %> 
  </div>








<% end %>