<p id="notice"><%= notice %></p>

<%= render 'orders/headingUserOrdersTypes' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Company</th>
      <th>Transporter</th>
      <th>Status</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Length</th>
      <th>Width</th>
      <th>Heigth</th>
      <th>PickUp address</th>
      <th>PickUp Coordinates</th>
      <th>PickUp Time</th>
      <th>Delivery address</th>
      <th>Delivery Coordinates</th>
      <th>Delivery Time</th>
      <th>Cost</th>      
      <th>Radius</th>
      <% if ['Company', 'Transporter'].include? @user.class.name %>
        <th>Distance to Order</th>
      <% end %>
      <th colspan="3"></th>
     
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.sender.name %></td>
        <td><%= order.transporter.present? ? order.transporter.company.name : "-" %></td>
        <td><%= order.transporter.present? ? order.transporter.name : "-" %></td>
        <td><%= order.status.present? ? order.status.capitalize : "-"  %></td>
        <td><%= order.description %></td>
        <td><%= order.weight %></td>
        <td><%= order.length %></td>
        <td><%= order.width %></td>
        <td><%= order.heigth %></td>
        <td><%#= address(order,0) %></td>
        <td><%#= coordinates(order,0) %></td> 
        <td><%= order.pickup_time %></td>
        <td><%#= address(order,1) %></td>
        <td><%#= coordinates(order,1) %></td>
        <td><%= order.delivery_time %></td>
        <td><%= number_with_delimiter(order.cost.to_i) %></td>
        <td><%= number_with_delimiter(order.radius) %></td>
        <%= render 'orders/distance', order: order %>
        <%= render 'orders/actions', order: order %>
      </tr>
    <% end %>        
  </tbody>
</table>

<%= render 'orders/indexLinksLogic' %>
<%= render 'orders/map' %>


<br>
<br>