<p id="notice"><%= notice %></p>

<!-- move to indexRubish -->

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Company</th>
      <th>Transporter</th>
      <th>Status</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Length</th>
      <th>Width</th>
      <th>Heigth</th>
      <th>PickUp address</th>
      <th>PickUp Coordinates</th>
      <th>PickUp Time</th>
      <th>Delivery address</th>
      <th>Delivery Coordinates</th>
      <th>Delivery Time</th>
      <th>Cost</th>      
      <th>Radius</th>
      <% if ['Company', 'Transporter'].include? @user.class.name %>
        <th>Distance to Order</th>
      <% end %>
      <th colspan="3"></th>
     
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.sender.name %></td>
        <td><%= order.transporter.present? ? order.transporter.company.name : "-" %></td>
        <td><%= order.transporter.present? ? order.transporter.name : "-" %></td>
        <td><%= order.status.present? ? order.status.capitalize : "-"  %></td>
        <td><%= order.description %></td>
        <td><%= order.weight %></td>
        <td><%= order.length %></td>
        <td><%= order.width %></td>
        <td><%= order.heigth %></td>
        <td><%= address(order,0) %></td>
        <td><%= coordinates(order,0).to_dms %></td> 
        <td><%= order.pickup_time %></td>
        <td><%= address(order,1) %></td>
        <td><%= coordinates(order,0).to_dms %></td>
        <td><%= order.delivery_time %></td>
        <td><%= number_with_delimiter(order.cost.to_i) %></td>
        <td><%= number_with_delimiter(order.radius) %></td>
        <%= render 'orders/distanceAndActions', order: order %>  
      </tr>
    <% end %>        
  </tbody>
</table>

<%= render 'orders/indexLinksLogic' %>

<% if (@user.class.name != "Transporter")%>
  <%= user_icon = {:name => 'user',
                    :icon_url => asset_path("#{@user.class.name.downcase}.png"),
                    :icon_size => [40, 40],
                    :icon_anchor => [20, 20],
                    :popup_anchor => [0, -20]}
      plane_icon = {:name => 'plane',
                        :icon_url => asset_path('plane.png'),
                        :icon_size => [40, 40],
                        :icon_anchor => [20, 20],
                        :popup_anchor => [0, -20]}

      latlng = coordinates(@user,0)

      markers = @orders.map {|order| {
        :latlng => coordinates(order,0),
        :popup => "<b>#{address(order,0)}</b><br>#{address(order,1)}",
        :icon => plane_icon
        }
      }

      markers << {
            :latlng => latlng,
            :popup => "<b>User</b><br>#{@user.name}",
            :icon => user_icon
          }

      map(
          :center => {
            :latlng => latlng,
            :zoom => 13
          },
          :markers => markers
      )
  %>
<% end %>
<br>
<br>