<div class="card text-center mb-4">
  <%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <div class="card-body company-top-card"> 
      <h3 class="h3Space"><%= t (:company_details) %></h3> 

      <div class="form-group col-md-12">     
        <b><%= form.label :name, :class => "col-sm-5 comp-name"%></b>
        <%= form.text_field :name, :class => "col-sm-6 company-name" %>
      </div>        
      
      <div class="form-group col-md-12">      
        <b><%= form.label :telephone, :class => "col-sm-5 comp-telephone"%></b>
        <%= form.text_field :telephone, :class => "col-sm-6 company-telephone" %>
      </div>

      <div class="form-group col-md-12">
        <b><%= form.label :email, :class => "col-sm-5 comp-email"%></b>
        <%= form.text_field :email, :class => "col-sm-6 company-email" %>
      </div>

    </div>
  </div>


<div class="card text-center mb-4">
  <div class="card-body card-status my-3">
    <div class="form-group col-md-12 my-4 "> 
      <b><%= form.label :status, :class => "col-sm-5 comp-status" %></b> 
      <%= form.select :status, enum_options_for_select(Company, :status), {}, { :class => "col-sm-6 company-status"} %>
    </div> 
  </div>
</div>

    

<!-- SHOWING MAP -->
  <div class="card company-card-location text-center my-5">
    <div class="card-header company-location">
     <h3><%= t (:company_location) %></h3> 
    </div>
    <div class="card-body">   
    <%= render 'location', form: form, id: 0 %>
    </div>
  </div>

  <hr> 
  <div class="row buttons btn-group d-flex justify-content-center " > 
    <%= render 'companies/actionButtons', form: form %>
  </div>
  <hr class="mb-5"> 

<% end %>
