<!-- THIS LOCATION FORM MUST BE MADE A GENERAL APP TEMPLATE AS ITS BEEN USED BY ALL USERS AND ORDERS -->

<% id = local_assigns[:id] %>
<%= form.fields_for :locations, @user.locations[0].present? ? @user.locations[0] : Location.new  do |f| %>

  <div class="form-group">
    <%= f.text_field :address, placeholder: "#{t (:enter_address)}", id: "address#{id}", :class => "col-sm-12 address" %>
    <%= link_to t(:search_address), {action: 'geocode', controller: 'locations', map_id: id}, remote: true, :class => "col-sm-6 btn btn-primary btn-address-search mb-5" %>
  </div> 

  <div id="MapRow">
    <div id="map<%=id%>"> <!-- class="mx-auto" -->
    </div>   
    <%= f.hidden_field :latitude, id: "latitude#{id}" %>
    <%= f.hidden_field :longitude, id: "longitude#{id}" %>
  </div>


  <script>
    //<![CDATA[
      var map<%=id%> = L.map('map<%=id%>');
      var marker<%=id%> = L.marker([0,0]).addTo(map<%=id%>);
      lat<%=id%> = '#latitude<%=id%>';
      lng<%=id%> = '#longitude<%=id%>';
      lgnd<%=id%> = '#legend<%=id%>';

      $(iniMap(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>, lgnd<%=id%>));
      $(getNavCoordinates(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>));
      map<%=id%>.on('move', function(){ getCenter(map<%=id%>, marker<%=id%>, lat<%=id%>, lng<%=id%>, lgnd<%=id%>) });
    //]]>
  </script>

<% end %>