<p id="notice"><%= notice %></p>
<br>
<br>
<h1> <%= @user.name %> Profile </h1>
<br>
<br>

<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <th>Telephone</th>
      <td><%= @user.telephone %></td>
    </tr>

    <tr>
      <th>email</th>
      <td><%= @user.email %></td>
    </tr>

    <tr>
      <th>Address</th>
      <td><%= address(@user, 0) %></td>
    </tr>

    <tr>
      <th>Coordiantes</th>
      <td><%= coordinates(@user, 0).to_dms%></td>
    </tr>

    <tr>
      <th>Radius</th>
      <td><%= @user.radius %></td>
    </tr>

    <tr>
      <th>Status</th>
      <td><%= @user.status %></td>
    </tr>

  </tbody>
</table>

<hr>
  <%= render 'links' %> 
<hr>

<%= company_icon = {:name => 'company',
                  :icon_url => asset_path('company.png'),
                  :icon_size => [40, 40],
                  :icon_anchor => [20, 40],
                  :popup_anchor => [0, -40]}
    latlng = coordinates(@user, 0)
    map(
        :center => {
          :latlng => latlng,
          :zoom => 13
        },
        :markers => [
          {
          :latlng => latlng,
          :popup => "<b>#{@user.name}</b><br>#{address(@user, 0)}",
          :icon => company_icon
          }
        ],
        :circles => [
          {
            :latlng => latlng,
            :radius => @user.radius,
            :color => 'red',
            :fillColor => '#111',
            :fillOpacity => 0.35
          }
        ]
    )
%>
