<% provide(:page_title, "Company") %>


<h1 class='headingspace'> <%= @user.name.presence || @user.email %> <%= t (:profile) %></h1>  



<div class="card mb-2  ">
  <div class="card-body pl-1"> 
    <div class="col-md-12 mb-2 mt-2">
      <div class="row">
        <div class="d-inline col-sm-6 company-Showlabels ">  
           <b><%= Company.human_attribute_name(:name)  %>:</b> 
        </div>
        <div class="d-inline col-sm-6 mb-3 company-Showinputs">
         <%= @user.name %>
        </div>
      </div> 

      <div class="row">
        <div class="d-inline col-sm-6 company-Showlabels ">
           <b><%= Company.human_attribute_name(:telephone) %>:</b>
        </div>
        <div class="d-inline col-sm-6 mb-3 company-Showinputs">
         <%= @user.telephone %>
        </div>
      </div>
      <div class="row">
        <div class="d-inline col-sm-6 company-Showlabels">
           <b><%= Company.human_attribute_name(:email) %>:</b>
        </div>
        <div class="d-inline col-sm-6 mb-3 company-Showinputs">
         <%= @user.email  %>
        </div>
      </div>
      <div class="row">
        <div class="d-inline col-sm-6 company-Showlabels">
          <b><%= Company.human_attribute_name(:status) %>:</b>
        </div>
        <div class="d-inline col-sm-6 mb-3 company-Showinputs company-show-Status">

          <%#= enum_l(@user, :status)%><%= enum_l(@user, :status).capitalize rescue log_error($!, $@) %>

        </div>
      </div>
    </div>
  </div>
</div> 

 <!-- SHOWING MAP -->
 <div class="maps-row">
  <div class="col-md-12 mb-3 companyLocation">
    <div class="card left text-center company-card-location">
      <div class="card-body-left company-card-location">
        <h3 class="card-header"><%= t (:company_location) %></h3>
         <div class="bolds ">
          <%= t (:adress) %>:
        </div> 
        <% if @user.locations.present? %>         
          <div class="mb-5 companyAddress">
             <%= @user.locations[0].address %>
          </div> 
          <div class="comp-Map d-flex justify-content-center mb-5">
           <%= render 'companies/showingMap' %> 
          </div>  
        <% end %>  
      </div> 
    </div>
  </div>
</div>

  <br>
  <br>