<div class="container h-100"> <!-- This div and the one below will do center the card -->
  <div class="row h-100 justify-content-center align-items-center"> 

    <div class="card signin-card text-center">
      <div class="card-header">
        <h2 class="login">Log in</h2>
      </div>
      <div class="card-body">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-inputs mb-5">

            <div class="field">
              <%= f.label :email, :class => "signin-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "#{t (:enter_email)}", :class => "signin-input mb-4" %>
            </div>

            <div class="field">
              <%= f.label t(:password), :class => "signin-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "#{t (:enter_password)}", :class => "signin-input mb-4" %>
          

            <% if devise_mapping.rememberable? %>
              <div class="field mt-2 rememberme">
                <%= f.check_box :remember_me %>
                <%= f.label t(:remember_me) %>
              </div>
             <% end %>
          </div>
          <div class="actions">
            <%= f.submit t(:log_in), class: 'btn btn-success mb-2 btn-devise'  %>
          </div>
      <% end %>
         
    </div>
    <div class="card-footer text-center mb-2">
        <%= render "devise/shared/links" %>
      </div> 
  </div>
</div>
