<p id="notice"><%= notice %></p>

<h1 class='headingspace'><%= @user.name %> Profile </h1>

<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <th>Telephone</th>
      <td><%= @user.telephone %></td>
    </tr>

    <tr>
      <th>email</th>
      <td><%= @user.email %></td>
    </tr>

    <tr>
      <th>Address</th>
      <td><%= address(@user, 0) %></td>
    </tr>

    <tr>
      <th>Coordinates</th>
      <td><%= coordinates(@user, 0).to_dms%></td>
    </tr>

    <tr>
      <th>Status</th>
      <td><%= @user.status %></td>
    </tr>

  </tbody>
</table>

<hr>
  <%= render 'links' %> 
<hr>
