<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @sender.name %></td>
    </tr>

    <tr>
      <th>Telephone</th>
      <td><%= @sender.telephone %></td>
    </tr>

    <tr>
      <th>email</th>
      <td><%= @sender.email %></td>
    </tr>

    <tr>
      <th>Address</th>
      <td><%= address(@sender, 0) %></td>
    </tr>

    <tr>
      <th>Coordinates</th>
      <td><%= coordinates(@sender, 0).to_dms%></td>
    </tr>

    <tr>
      <th>Status</th>
      <td><%= @sender.status %></td>
    </tr>

  </tbody>
</table>

<hr>
  <%= render 'links' %> 
<hr>
