
<nav class="navbar navbar-expand-md  navbar-default sticky-top noflow-x" role="navigation">
  <div class="container-fluid"> 
    <a class="navbar-brand" href="/">Courriers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingnavbar" aria-controls="collapsingnavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbarlinks" id="collapsingnavbar">
      <ul class="navbar-nav mr-auto ulitems">

        <li class="nav-item">
          <%= link_to_in_li  I18n.t(:home), root_path, class: 'nav-link' %>
        </li>

        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to_in_li  I18n.t(:companies), companies_path, class: 'nav-link' %>
            
          </li>
          <li class="nav-item">
            <%= link_to_in_li  I18n.t(:senders), senders_path, class: "nav-link"  %>
          </li>
        <% end %>

      <!-- SENDER -->
        <% if @user.class.name == "Sender" && @user.id.present? %> 
          <li class="nav-item">
             <%= link_to_in_li I18n.t(:new_order), new_sender_order_path(@user), class: 'nav-link'%>    
            </li>
            <li class="nav-item">
              <%= link_to_in_li I18n.t(:my_orders), sender_orders_path(@user), class: 'nav-link'%> 
            </li>
            <li class="nav-item">
             <%= link_to_in_li  I18n.t(:my_posted_orders), posted_sender_orders_path(@user), class: 'nav-link'%>
            </li>
            <!-- Sender dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= @user.name %>
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to  I18n.t(:my_profile), url_for(@user), class: 'nav-link' %>
                <%= link_to I18n.t(:edit_profile), edit_sender_path(@user), class: 'nav-link' %>
              </div>
            </li>      
        <% end %>

      <!-- COMPANY -->
        <% if @user.class.name == "Company"  && @user.id.present? %>  
          <li class="nav-item">
            <%= link_to_in_li  I18n.t(:available_orders), posts_company_orders_path(@user), class: 'nav-link ' %> 
          </li>
          <li class="nav-item">
            <%= link_to_in_li I18n.t(:my_orders), company_orders_path(@user), class: 'nav-link'  %> 
          </li>
          <li class="nav-item">
            <%= link_to_in_li  I18n.t(:transporters), company_transporters_path(@user), class: 'nav-link'  %>
          </li> 
          <li class="nav-item">
            <%= link_to_in_li  I18n.t(:new_transporter), new_company_transporter_path(@user), class: 'nav-link'  %>
          </li> 
          <!-- Company dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @user.name %>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to  I18n.t(:my_profile), url_for(@user), class: 'nav-link' %>
              <%= link_to  I18n.t(:edit_profile), edit_company_path(@user), class: 'nav-link' %>             
            </div>
          </li>

          <!-- Viewing the Transporter from the company -->
          <% if @user.class.name == "Company" && @transporter.present? && @transporter.id.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t (:transporter) %> <%= @transporter.name %>
              </a>
              <!-- Transporter dropdown -->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to I18n.t(:trans_orders), orders_company_transporter_path(@user, @transporter), class: 'nav-link' %>
                <%= link_to I18n.t(:trans_profile), company_transporter_path(@user, @transporter), class: 'nav-link' %>
                <%= link_to I18n.t(:edit_profile), edit_company_transporter_path(@user, @transporter), class: 'nav-link' %>
              </div>
            </li>        
          <% end %>
        <% end %>   

      <!-- TRANSPORTER -->
        <% if @user.class.name == "Transporter"  %> 
          <li class="nav-item">
              <%= link_to_in_li  I18n.t(:my_orders), transporter_orders_path(@user), class: 'nav-link'  %> 
          </li>
          <li class="nav-item">            
            <%= link_to_in_li  I18n.t(:my_profile), url_for(@user), class: 'nav-link' %>
          </li>
        <% end %> 
         <li class="nav-item">
          <%= @user ? (link_to icon('fas', 'running', I18n.t(:sign_out)), destroy_session_path(@user), method: :delete, class: 'nav-link') : '' %>
        </li>

      </ul>
    </div>
  </div>
</nav>

