<!DOCTYPE html>
<html>
  <head>
    <title>| Entrega  | <%= yield(:page_title) %> </title>   <!-- This will give the name on browser's tab -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://checkout.epayco.co/checkout.js"></script>
   
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0"> 


  </head>

  <body>


  <div class="containerfluid">
     
    <%= render 'layouts/navbar' %>

    <div class="container"> <!-- this is the cotainer working without action higlighting-->
      <br>
      <%= render 'layouts/flash_notice_alert' %>

        <!--  <%# if flash[:notice] %>  Antonio move this to a partial 
          <div class="alert alert-success">  
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%#= flash[:notice] %>      
          </div>  
        <%# elsif flash[:error] %>
          <div class="alert alert-danger">  
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%#= flash[:error] %>      
          </div>
        <%# elsif flash[:alert] %>
          <div class="alert alert-warning">  
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%#= flash[:alert] %>      
          </div>
        <% #end %>
      

      <%#= render 'layouts/alerts' %> Commented for testing bootstrap styling -->


       <%= yield %>  <!-- Commented out as it was causing conflict, showing to forms -->
      </div>

  </div>


  </body>
</html>
