<!DOCTYPE html>
<html>
  <head>
    <title>Entrega</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">

     <%= render 'layouts/navbar' %>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <%= link_to companies_path, class: "nav-link" do %><span class="fa fa-building"></span> Companies<% end %>
              </li>
              <li class="nav-item">
                <%= link_to senders_path, class: "nav-link" do %><span class="fa fa-users"></span> Senders<% end %>
              </li>
            </ul>
          </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div>
            <%= yield %>
          </div>
        </main>

      </div>
    </div>
  </body>
</html>
