<!DOCTYPE html>
<html>
  <head>
    <title>Entrega</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0"> 


  </head>

  <body>

    <%= render 'layouts/navbar' %>
  
<!--<div class="container-fluid"> -->

    <%= render 'layouts/alerts' %>
    <%#= yield %>  <!-- Commented out as it was causing conflict, showing to forms -->



     <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
          <div>
            <%= yield %>
          </div>
        </main>
      </div>  


    <!-- </div> -->
  </body>
</html>
