<!DOCTYPE html>
<html>
  <head>
    <title>| Entrega  | <%= yield(:page_title) %> </title>   <!-- This will give the name on browser's tab -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://checkout.epayco.co/checkout.js"></script>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0"> 


  </head>
  <body>
    <div class="containerfluid">     
      <%= render 'layouts/navbar' %>
      <div class="container"> <!-- this is the cotainer working without action higlighting-->
        <br>
        <%= render 'layouts/flash_notice_alert' %>
        <%= yield %>  
      </div>
    </div>
  </body>
</html>
